

$accordion-background-color : rgba(0,0,0,.01);
$accordion-text-color : #000;
$accordion-border-color : rgba(0, 0, 0, 0.125);

$breadcrum-background-color : transparent;
$breadcrum-text-color : #5133AB;

$cor-background : #f5f7fb;
$cor-navbar : #404040;
$cor-navbar-link : rgba(255,255,255,.8);
$cor-rodape : #404040;

$facebook-color:#3b5998;
$google-color : #db3236;

$login-link-color : #03A9F4;
$login-divider-background-color : #fff;
$login-divider-text-color : #8c8b8b;

$purple-background-color : #6b60e3;
$purple-background-color-dark : #5d50f3
