.bg-gradient-primary
{
  background: linear-gradient(87deg, #009cf5 0, #79d2f6 100%) !important;
}

.bg-gradient-secondary
{
  background: linear-gradient(87deg, #f4f5f7 0, #f4f4f7 100%) !important;
}

.bg-gradient-success
{
  background: linear-gradient(87deg, #2dce89 0, #2dcecc 100%) !important;
}

.bg-gradient-info
{
  background: linear-gradient(87deg, #11cdef 0, #1171ef 100%) !important;
}

.bg-gradient-warning
{
  background: linear-gradient(87deg, #fb6340 0, #fbb140 100%) !important;
}

.bg-gradient-danger
{
  background: linear-gradient(87deg, #f5365c 0, #f56036 100%) !important;
}

.bg-gradient-light
{
  background: linear-gradient(87deg, #adb5bd 0, #adaebd 100%) !important;
}

.bg-gradient-dark
{
  background: linear-gradient(87deg, #212529 0, #212229 100%) !important;
}

.bg-gradient-default
{
  background: linear-gradient(87deg, #172b4d 0, #1a174d 100%) !important;
}

.bg-gradient-white
{
  background: linear-gradient(87deg, #fff 0, white 100%) !important;
}

.bg-gradient-neutral
{
  background: linear-gradient(87deg, #fff 0, white 100%) !important;
}

.bg-gradient-darker
{
  background: linear-gradient(87deg, black 0, black 100%) !important;
}
